.registration_form {
color: brown;
font-style: normal;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-flow: column;  
    background-color: aqua
    
}
.registration_form_content_name{
    padding: 20px;
}
.registration_form_content_password{
    padding: 20px;
}
registration_form_content_phone {
    padding: 20px;
}
.registration_form_content{
    margin-top: 30px;
    padding: 10px;
}

.registration_form_content_button{
    padding-block-start: 30px
}

.flex-container > div {
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    border-color: aqua
  }
  .col-lg-6{
    margin-top: 30px;
      border-color: aqua;
       margin-left: 154px;
    margin-right: 125px;
      border:solid brown;
      padding-top: 30px
  }
